.sign-up-page {
  grid-column: col-start 3 / col-end 6;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transform: translateY(-8rem);
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sign-up-avatar {
  background-color: var(--color-primary) !important;
  align-self: center;
}

.sign-up-title {
  font-size: 2rem;
  color: var(--color-grey-dark-1);
  align-self: center;
}
