.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

.fc {
  /* the calendar root */
  //   max-width: 1100px;
  margin: 0 auto;
  --fc-bg-event-opacity: 1;
  --fc-border-color: rgba(0, 0, 0, 0.12);
  --fc-daygrid-event-dot-width: 10px;
  --fc-event-text-color: #172b4d;
  --fc-list-event-hover-bg-color: #f4f5f7;
  --fc-neutral-bg-color: #f4f5f7;
  --fc-page-bg-color: #f4f5f7;
  --fc-today-bg-color: rgba(86, 100, 210, 0.25);
  color: rgb(23, 43, 77);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: var(--fc-today-bg-color, rgba(255, 220, 40, 0.15));
}

.fc-daygrid-event {
  position: relative;
  white-space: nowrap;
  border-radius: 3px;
  font-size: var(--fc-small-font-size, 0.85em);
  padding: 10px;
}

.fc-daygrid-block-event .fc-event-time {
  font-weight: 700;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  margin-right: 3px;
}
