.booking-and-review-page {
  grid-column: full-start / full-end;
}

.booking-section,
.review-content {
  width: 80%;
  margin: auto;
  padding: 4rem;
}

.booking__card {
  &--container {
    padding: 2rem;
  }
}

.review-section {
  margin-top: 5rem;
  background-color: var(--color-grey-light-1);
}

.review-title {
  font-size: 2rem;
  color: var(--color-text-primary);
}

.review-input {
  display: flex;
  gap: 2rem;
}

.review-name {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-text-primary);
}

.review-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.all-reviews {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.comments {
  font-size: 1.7rem;
}

.opening {
  width: 40%;
}

.MuiInputBase-inputAdornedEnd {
  font-size: 1.5rem !important;
}

.book-appointment-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.book-appointment-title {
  font-size: 1.7rem;
}

.book-appointment-selected-date {
  font-style: italic;
  font-weight: normal;
  font-size: 1.5rem;
}

.table {
  &__head {
    background-color: var(--color-primary);
    color: #fff !important;
    font-size: 1.7rem !important;
  }
  &__body {
    font-size: 1.5rem !important;
  }
}

.form-reply {
  display: flex;
  align-items: flex-end;
}
