.form--input {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

.form--input-root {
  border-radius: 1rem !important;
}

.form--label-not-touch {
  font-size: 1.5rem !important;
}

.form--helper-text {
  font-size: 1.3rem !important;
}
