.opening-hours-day {
  font-size: 1.7rem;
  font-weight: lighter;
  color: var(--color-text-primary);
}

.MuiFormLabel-root,
.MuiPickersClockNumber-clockNumber,
.MuiButton-label {
  font-size: 1.5rem !important;
}

#time-picker-helper-text {
  font-size: 1.5rem;
}
